/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* Reset */
* {
    box-sizing: border-box; 
    outline: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: unset;
}

/* Font set */
body {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    color: white;
    position: relative;
    bottom: 90px;
}
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 30px;
}
strong {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

 /* Espacement des texts */
.marge {
    margin-bottom: 45px;
}

 /* Header et navigation */
header {
    position: fixed;
    width: 100vw;
    border-bottom: solid #F0F0F0;
    z-index: 2;
}
.rectangle {
    height: 4px;
    background-color: #106C9B;
    border: none;
}

/* Navbar */
.navbar {  
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    align-items:center;
    font-weight: bold;
    text-transform: uppercase;
}
.logo {
    display: flex;
    align-items: center;
}
#home {
    cursor: pointer;
    height: 16px;
    width: 15px;
}
#lemonde {
    margin-left: 15px;
}
.navbar__links { 
    display:flex;
}
.cta {
    padding: 15px;
}
.cta:hover {
    background-color: #106C9B;
    color: #FFFFFF;
    cursor: pointer;
}
.burger {
    display:none;
}
.fermer {
    display: none;
}

/* Accroche (Image) */
#accroche > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}

 /* Partie text */
main div {
    width: 620px;
    margin: auto;
}
aside {
    border-left: solid #F0F0F0;
    padding-left: 1rem;
    margin-left: 5rem;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
}
article > figure > img {
    width: 100%;
    height: auto;
}
figcaption {
    padding: 5px;
    background: #F0F0F0;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
}


/*  Responsive à partir du format tablette */
@media screen and (max-width:950px) {
    .navbar {
        padding-right: unset;
    }
    .navbar__links { 
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #106C9B;
        color: #FFFFFF;
        width: 0;
        height: calc(100vh - 50px);  
        position: absolute;
        top: 50px;
        right: 0;  
        transform: translateX(110%);
        transition: all .5s ease-in-out;
    }
    .show-nav .navbar__links { 
        width: 90vw;    
        transform: translateX(0);
    } 
    .cta {    
        transform: translateX(101%);
        transition: all .5s ease-in-out;
    }
  
    .show-nav .cta  {        
        transform: translateX(0);    
    }
    .cta > a {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        transition: all .4s ease-in-out;
    }
    .cta > a:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
        background-color: #FFFFFF;
        color: black;
    }
  
    /* Toggle menu */
    .burger {
        display: flex;
        padding: 16px;
        align-items: center;
        position: relative;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    .menu {
        margin-right: 6px;
    }
    .hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    .visible {
        display: flex;
        padding: 15px;
        align-items: center;
        position: relative;
        border: none;
        background: transparent;
        cursor: pointer;
    }

  
    /* Bonus - Animations */
    @keyframes slide-left {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
    .show-nav .fermer {
        background-color: #106C9B;
        color: #FFFFFF;
        transition: all 1s linear 0s;
        animation-name: slide-left;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
    }

    .show-nav .first {      
        transition: all 1s ease-out;
    } 
    .show-nav .second {      
        transition: all 1.1s ease-out;
    } 
    .show-nav .third {      
        transition: all 1.2s ease-out;
    } 
    .show-nav .four {      
        transition: all 1.3s ease-out;
    }



    /* Partie text */
    main > div {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
    }
    h1 {
        width: 50vw;
    }
    .marge {
        margin-bottom: 25px;
    }
    
}





    